body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc; /* Gris para el botón deshabilitado */
    cursor: not-allowed;
}

.guest-btn {
    /* Destacar el botón de invitado */
    background-color: #28a745; 
    font-weight: bold;
    margin-top: 20px;
}

.guest-btn:hover {
    background-color: #1e7e34;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}